@import "tailwindcss";

:root {
  --burned-red: oklch(39.984% 0.16408 29.223);
  --cream: oklch(96.357% 0.03268 107.057);
  --dark-cream: oklch(87.742% 0.04317 84.555);
  --black: oklch(0% 0 0);
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--black);
  color: var(--cream);
}

.font-unbounded {
  font-family: "Unbounded", sans-serif;
}

.glitch {
  animation: glitch 1.5s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitch-hover:hover {
  animation: glitch 1.5s linear infinite;
}

.text-shadow-red {
  text-shadow: 2px 2px var(--burned-red), 4px 4px var(--black);
}

.word-by-word > span {
  opacity: 0;
  animation: fadeInWord 0.5s forwards;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
