---
import "../styles/global.css";
import "@fontsource/space-mono/400.css";
import "@fontsource/space-mono/700.css";
import "@fontsource-variable/unbounded";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Noise &amp; Code - Beautifully Brutal Digital Experiences</title>
    <meta
      name="description"
      content="Noise & Code is a digital agency specializing in creating beautifully brutal digital experiences."
    />
  </head>
  <body>
    <slot />
  </body>
</html>
